
.section__um{
    height: 650px;
    width: 100%;
    overflow-y:hidden ;
    position: relative;

    .fluxograma__icon{
        padding: 1rem;
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        img{
            width: 100px;
        }
    }

    .fluxograma{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            height: 8px;
        }
        &::-webkit-scrollbar-thumb{
            background: #10880cd3;
            border-radius: 5px;
            
        }
        &::-webkit-scrollbar-track{
            background: #b8ceba65;
            border-radius: 5px;
        }
        img{
            height: 100%;
            object-fit: cover;
            display: flex;
            flex-direction: row;
        }
    }
    .fluxopdf{
        position: absolute;
        top: 1rem;
        right: 1rem;
        a{
            padding: 0.8rem 2rem;
            color: #fff;
            width: 100%;
            height: 100%;
            background: #19c913;
            border-radius: 10px;
            &:hover{
                background: #fff;
                color: #19c913;
                border: 1px solid #19c913 ;
            }
        }
    }
}