
section{
    height: 70vh;
    width: 100%;
    overflow-x: scroll;
    overflow-y:hidden ;
    background: red;
    .fluxograma{
        height: 100%;
        width: 100%;
        object-fit: cover;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
}