header{
    height: 35vh;
    padding: 0.3rem;
    .line__svg{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
}