@media (max-width: 600px){
    header{
        height: 80vh;
        .line__svg{
            display: none;
        }
        .line2__svg{
            display: block;
            img{
                max-height: 100%;
                width: 100%;
            }
        }
        .qrcode{
            display: none;
        }
    }
    .section__um{
        height: 65vh;
        .fluxograma__icon{
            img{
                width: 50px;
            }
        }
    }
    .section__dois{
        .section__dois__main{
            .banner__dois{
                object-fit: cover;
                .banner__dois__fotos{
                    height: 100%;
                    width: 100%;
                    
                    .foto{
                        width: 100%;
                        img{
                            min-width: 100%;
                            min-height: 100%;
                        }
                    }
                }
                .banner__dois__like{
                    span{
                        font-size: 12px;
                    }
                    .toque{
                        width: 25px;
                    }
                }
            }
        }
    }
}