@media (max-width: 600px){
    header{
        height: 30vh;
        .line__svg{
            img{
                max-height: 100%;
                width: 100%;
            }
        }
        .qrcode{
            display: none;
        }
    }
    .section__um{
        height: 65vh;
        .fluxograma__icon{
            img{
                width: 50px;
            }
        }
    }
    .section__dois{
        .section__dois__main{
            .banner__dois{
                object-fit: cover;
                .banner__dois__fotos{
                    height: 300px;
                    width: 100%;
                    .foto{
                        width: 100%;
                        img{
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}