.section__dois{
    position: relative;
    width: 100%;
    .section__dois__fundo{
        // position: absolute;
        // top: 0;
        // left: 0;
        img{
            max-width: 100%;
        }
    }
    .section__dois__main{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50vh;
        padding: 0.5rem;
        .banner__um{
            width: 50%;
            padding: 2rem;
            font-family: arial;
            h1{
                font-size: 14px;
            }
            p{
                font-size: 10px;
                color: #635e5e;

            }
        }
        .banner__dois{
            .banner__dois__fotos{
                width: 90%;
                height: 70%;
                overflow-y: scroll;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            .foto{
                width: 100%;
                min-height: 150px;
                object-fit: cover;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}