@import '_fluxograma';
@import '_header';
@import '_section';
@import '_media';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

section{
    width: 100%;
}

.toque{
    cursor: pointer;
}

#container{
    max-width: 1500px;
}